* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;

}
body{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   background-color: #f3f4f6;
   overflow: hidden;
}


.login-container{
 background-color: white;
 padding: 30px 25px;
 border-radius: 10px;
 box-shadow: 0 8px 20px rgb(0,0,0,0.15);
 width: 100%;
 max-width: 400px;
}

.login-container h1{
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 1px; 
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
    font-size: 14px;
    color: #333;
}

.input-group input {
    width: 100%;
    padding: 8px 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3 ease;
}

.input-group input:focus {
    border-color: #007bff;
    box-shadow: 0 0 4px rgb(0, 123, 255, 0.3);
}

.input-group input::placeholder {
    color: #aaa;
    font-size: 14px;
}

/* Forgot Password */
.forgot-password {
    text-align: right;
    margin-bottom: 15px;
    font-size: 14px;
}

.forgot-password a {
    text-decoration: none;
    color: #007bff;
}

.forgot-password a:hover {
    text-decoration: underline;
}

/* Login Button */

.login-btn {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-btn:hover {
    background-color: #0056b3;
}

/* Signup Section */
.signup-link {
    margin-top: 15px;
    text-align: center;
    font-size: 14px;
}

.signup-link p {
    display: inline;
    margin-right: 5px;
}

.signup-link a {
    color: #007bff;
    text-decoration: none;
    font-weight: 500;
}

.signup-link a:hover{
    text-decoration: underline;
}

